name: Backend CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [main]
    paths:
      - 'backend/**'

env:
  REGISTRY: ghcr.io

jobs:
  quality:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: backend

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install uv
        uses: astral-sh/setup-uv@v1

      - name: Install dependencies
        run: uv sync --extra dev

      - name: Check formatting
        run: uv run ruff format --check .

      - name: Run linter
        run: uv run ruff check .

      - name: Run tests
        run: |
          cd core
          uv run python manage.py migrate
          uv run python manage.py test

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: ${{ env.REGISTRY }}/boutique-backend

      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@v6
        with:
          context: ./backend
          file: ./backend/Dockerfile
          push: true